{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Nosifer&display=swap" rel="stylesheet">

<div class="container-fluid">
    <div class="text-center body-text" style="padding-top: 100px;padding-bottom: 100px">
        <p style="font-size: 70px;font-family: 'Nosifer'">WELCOME TO NYUMBA-KUMI</p>
        <a href="{% url 'hood' %}" class="btn btn-sm btn-info mt-4">view hoods</a>
    </div>
</div>
<div class="text">
    <p> 
        Share information about your neighborhood and let those living around and those joining to get information about the hood.
        You also get to discuss matters affecting the Neighborhood</p>
</div>
{% endblock %}